.header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.808);
    width: 100%;
    margin-bottom: 50px;
    /* border: 1px solid; */
    box-shadow: 0 2px 7px rgb(219, 219, 219);
}
.nav {
    top: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}
.nav .logo img {
    height: 30px;
}
.search-and-cart {
    display: flex;
    align-items: center;
}
.search {
    min-width: 260px;
    /* border: 1px solid; */
    position: relative;
}
.search .searchicon img {
    height: 20px;
    /* transform: translate(55px, 5px); */
    position: absolute;
    top: 10px;
    left: 30px;
}
.search-and-cart input {
    padding: 10px 40px;
    border-radius: 20px;
    border: 1px solid rgb(184, 184, 184);
    margin: 0 20px;
    font-size: 14px;
}
.search-and-cart input:focus {
    outline: none;
}
.cart {
    position: relative;
}
.cart .numberitem {
    font-size: 13px;
    position: absolute;
    background: red;
    color: white;
    padding: 2px 8px;
    border-radius: 20px;
    top: -10px;
    left: 20px;
}
.cart img {
    height: 30px;
}

/* item seleted */

/* modal cart  */

.modal {
    position: absolute;
    background: rgba(0, 0, 0, 0.603);
    width: 99vw;
    height: 100vh;
    transform: translate(-200%, -50px);
    display: flex;
    justify-content: flex-end;
    transition: all 0.4s ease-in;
}
.detail-cart {
    position: relative;
    background-color: #fff;
    width: 500px;
}
.detail-cart .delete {
    color: #fff;
    background-color: red;
    width: fit-content;
    padding: 5px 15px;
}
.detail-cart .cart {
    background-color: red;
    color: white;
    padding: 10px 0;
    font-size: 20px;
    margin-bottom: 20px;
}
.detail-cart .list-item{
    max-height: 60%;
    overflow-y: scroll;
}