.product {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.product .category {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}
.product .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
